/*
 * FIWARENGSIV2SpecificationLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package org.fiware.lab.orion.controllers;

import com.fasterxml.jackson.core.JsonProcessingException;
import java.io.IOException;
import java.util.AbstractMap.SimpleEntry;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.CompletableFuture;
import org.fiware.lab.orion.ApiHelper;
import org.fiware.lab.orion.AuthManager;
import org.fiware.lab.orion.Configuration;
import org.fiware.lab.orion.exceptions.ApiException;
import org.fiware.lab.orion.http.Headers;
import org.fiware.lab.orion.http.client.HttpCallback;
import org.fiware.lab.orion.http.client.HttpClient;
import org.fiware.lab.orion.http.client.HttpContext;
import org.fiware.lab.orion.http.request.HttpRequest;
import org.fiware.lab.orion.http.response.HttpResponse;
import org.fiware.lab.orion.http.response.HttpStringResponse;
import org.fiware.lab.orion.models.CreateRegistrationRequest;
import org.fiware.lab.orion.models.ListRegistrationsResponse;
import org.fiware.lab.orion.models.Options8Enum;
import org.fiware.lab.orion.models.RetrieveRegistrationResponse;
import org.fiware.lab.orion.models.UpdateRegistrationRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class RegistrationsController extends BaseController {

    /**
     * Initializes the controller.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     */
    public RegistrationsController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers) {
        super(config, httpClient, authManagers);
    }

    /**
     * Initializes the controller with HTTPCallback.
     * @param config    Configurations added in client.
     * @param httpClient    Send HTTP requests and read the responses.
     * @param authManagers    Apply authorization to requests.
     * @param httpCallback    Callback to be called before and after the HTTP call.
     */
    public RegistrationsController(Configuration config, HttpClient httpClient,
            Map<String, AuthManager> authManagers, HttpCallback httpCallback) {
        super(config, httpClient, authManagers, httpCallback);
    }

    /**
     * Lists all the context provider registrations present in the system.
     * @param  limit  Optional parameter: Limit the number of registrations to be retrieved
     * @param  offset  Optional parameter: Skip a number of registrations
     * @param  options  Optional parameter: Options dictionary
     * @return    Returns the List of ListRegistrationsResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public List<ListRegistrationsResponse> listRegistrations(
            final Double limit,
            final Double offset,
            final Options8Enum options) throws ApiException, IOException {
        HttpRequest request = buildListRegistrationsRequest(limit, offset, options);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleListRegistrationsResponse(context);
    }

    /**
     * Lists all the context provider registrations present in the system.
     * @param  limit  Optional parameter: Limit the number of registrations to be retrieved
     * @param  offset  Optional parameter: Skip a number of registrations
     * @param  options  Optional parameter: Options dictionary
     * @return    Returns the List of ListRegistrationsResponse response from the API call
     */
    public CompletableFuture<List<ListRegistrationsResponse>> listRegistrationsAsync(
            final Double limit,
            final Double offset,
            final Options8Enum options) {
        return makeHttpCallAsync(() -> buildListRegistrationsRequest(limit, offset, options),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleListRegistrationsResponse(context));
    }

    /**
     * Builds the HttpRequest object for listRegistrations.
     */
    private HttpRequest buildListRegistrationsRequest(
            final Double limit,
            final Double offset,
            final Options8Enum options) {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v2/registrations");

        //load all query parameters
        Map<String, Object> queryParameters = new HashMap<>();
        queryParameters.put("limit", limit);
        queryParameters.put("offset", offset);
        queryParameters.put("options",
                (options != null) ? options.value() : null);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, queryParameters,
                null);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for listRegistrations.
     * @return An object of type List of ListRegistrationsResponse
     */
    private List<ListRegistrationsResponse> handleListRegistrationsResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        List<ListRegistrationsResponse> result = ApiHelper.deserializeArray(responseBody,
                ListRegistrationsResponse[].class);
        return result;
    }

    /**
     * Creates a new context provider registration. This is typically used for binding context
     * sources as providers of certain data. The registration is represented by a JSON object as
     * described at the beginning of this section. Response: * Successful operation uses 201 Created
     * * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses"
     * for more details.
     * @param  body  Required parameter: Example:
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public void createRegistration(
            final CreateRegistrationRequest body) throws ApiException, IOException {
        HttpRequest request = buildCreateRegistrationRequest(body);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        handleCreateRegistrationResponse(context);
    }

    /**
     * Creates a new context provider registration. This is typically used for binding context
     * sources as providers of certain data. The registration is represented by a JSON object as
     * described at the beginning of this section. Response: * Successful operation uses 201 Created
     * * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses"
     * for more details.
     * @param  body  Required parameter: Example:
     * @return    Returns the void response from the API call
     */
    public CompletableFuture<Void> createRegistrationAsync(
            final CreateRegistrationRequest body) {
        return makeHttpCallAsync(() -> buildCreateRegistrationRequest(body),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleCreateRegistrationResponse(context));
    }

    /**
     * Builds the HttpRequest object for createRegistration.
     */
    private HttpRequest buildCreateRegistrationRequest(
            final CreateRegistrationRequest body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v2/registrations");

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().postBody(queryBuilder, headers, null, bodyJson);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for createRegistration.
     * @return An object of type void
     */
    private Void handleCreateRegistrationResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //handle errors defined at the API level
        validateResponse(response, context);

        return null;
    }

    /**
     * The response is the registration represented by a JSON object as described at the beginning
     * of this section. Response: * Successful operation uses 200 OK * Errors use a non-2xx and
     * (optionally) an error payload. See subsection on "Error Responses" for more details.
     * @param  registrationId  Required parameter: registration Id.
     * @return    Returns the RetrieveRegistrationResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public RetrieveRegistrationResponse retrieveRegistration(
            final String registrationId) throws ApiException, IOException {
        HttpRequest request = buildRetrieveRegistrationRequest(registrationId);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        return handleRetrieveRegistrationResponse(context);
    }

    /**
     * The response is the registration represented by a JSON object as described at the beginning
     * of this section. Response: * Successful operation uses 200 OK * Errors use a non-2xx and
     * (optionally) an error payload. See subsection on "Error Responses" for more details.
     * @param  registrationId  Required parameter: registration Id.
     * @return    Returns the RetrieveRegistrationResponse response from the API call
     */
    public CompletableFuture<RetrieveRegistrationResponse> retrieveRegistrationAsync(
            final String registrationId) {
        return makeHttpCallAsync(() -> buildRetrieveRegistrationRequest(registrationId),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleRetrieveRegistrationResponse(context));
    }

    /**
     * Builds the HttpRequest object for retrieveRegistration.
     */
    private HttpRequest buildRetrieveRegistrationRequest(
            final String registrationId) {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v2/registrations/{registrationId}");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("registrationId",
                new SimpleEntry<Object, Boolean>(registrationId, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("user-agent", BaseController.userAgent);
        headers.add("accept", "application/json");

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().get(queryBuilder, headers, null, null);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for retrieveRegistration.
     * @return An object of type RetrieveRegistrationResponse
     */
    private RetrieveRegistrationResponse handleRetrieveRegistrationResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //handle errors defined at the API level
        validateResponse(response, context);

        //extract result from the http response
        String responseBody = ((HttpStringResponse) response).getBody();
        RetrieveRegistrationResponse result = ApiHelper.deserialize(responseBody,
                RetrieveRegistrationResponse.class);

        return result;
    }

    /**
     * Only the fields included in the request are updated in the registration. Response: *
     * Successful operation uses 204 No Content * Errors use a non-2xx and (optionally) an error
     * payload. See subsection on "Error Responses" for more details.
     * @param  registrationId  Required parameter: registration Id.
     * @param  body  Required parameter: Example:
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public void updateRegistration(
            final String registrationId,
            final UpdateRegistrationRequest body) throws ApiException, IOException {
        HttpRequest request = buildUpdateRegistrationRequest(registrationId, body);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        handleUpdateRegistrationResponse(context);
    }

    /**
     * Only the fields included in the request are updated in the registration. Response: *
     * Successful operation uses 204 No Content * Errors use a non-2xx and (optionally) an error
     * payload. See subsection on "Error Responses" for more details.
     * @param  registrationId  Required parameter: registration Id.
     * @param  body  Required parameter: Example:
     * @return    Returns the void response from the API call
     */
    public CompletableFuture<Void> updateRegistrationAsync(
            final String registrationId,
            final UpdateRegistrationRequest body) {
        return makeHttpCallAsync(() -> buildUpdateRegistrationRequest(registrationId, body),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleUpdateRegistrationResponse(context));
    }

    /**
     * Builds the HttpRequest object for updateRegistration.
     */
    private HttpRequest buildUpdateRegistrationRequest(
            final String registrationId,
            final UpdateRegistrationRequest body) throws JsonProcessingException {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v2/registrations/{registrationId}");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("registrationId",
                new SimpleEntry<Object, Boolean>(registrationId, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("Content-Type", "application/json");
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        String bodyJson = ApiHelper.serialize(body);
        HttpRequest request = getClientInstance().patchBody(queryBuilder, headers, null,
                bodyJson);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for updateRegistration.
     * @return An object of type void
     */
    private Void handleUpdateRegistrationResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //handle errors defined at the API level
        validateResponse(response, context);

        return null;
    }

    /**
     * Cancels a context provider registration. Response: * Successful operation uses 204 No Content
     * * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses"
     * for more details.
     * @param  registrationId  Required parameter: registration Id.
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public void deleteRegistration(
            final String registrationId) throws ApiException, IOException {
        HttpRequest request = buildDeleteRegistrationRequest(registrationId);
        HttpResponse response = getClientInstance().execute(request, false);
        HttpContext context = new HttpContext(request, response);

        handleDeleteRegistrationResponse(context);
    }

    /**
     * Cancels a context provider registration. Response: * Successful operation uses 204 No Content
     * * Errors use a non-2xx and (optionally) an error payload. See subsection on "Error Responses"
     * for more details.
     * @param  registrationId  Required parameter: registration Id.
     * @return    Returns the void response from the API call
     */
    public CompletableFuture<Void> deleteRegistrationAsync(
            final String registrationId) {
        return makeHttpCallAsync(() -> buildDeleteRegistrationRequest(registrationId),
            request -> getClientInstance().executeAsync(request, false),
            context -> handleDeleteRegistrationResponse(context));
    }

    /**
     * Builds the HttpRequest object for deleteRegistration.
     */
    private HttpRequest buildDeleteRegistrationRequest(
            final String registrationId) {
        //the base uri for api requests
        String baseUri = config.getBaseUri();

        //prepare query string for API call
        final StringBuilder queryBuilder = new StringBuilder(baseUri
                + "/v2/registrations/{registrationId}");

        //process template parameters
        Map<String, SimpleEntry<Object, Boolean>> templateParameters = new HashMap<>();
        templateParameters.put("registrationId",
                new SimpleEntry<Object, Boolean>(registrationId, true));
        ApiHelper.appendUrlWithTemplateParameters(queryBuilder, templateParameters);

        //load all headers for the outgoing API request
        Headers headers = new Headers();
        headers.add("user-agent", BaseController.userAgent);

        //prepare and invoke the API call request to fetch the response
        HttpRequest request = getClientInstance().delete(queryBuilder, headers, null, null);

        // Invoke the callback before request if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onBeforeRequest(request);
        }

        return request;
    }

    /**
     * Processes the response for deleteRegistration.
     * @return An object of type void
     */
    private Void handleDeleteRegistrationResponse(
            HttpContext context) throws ApiException, IOException {
        HttpResponse response = context.getResponse();

        //invoke the callback after response if its not null
        if (getHttpCallback() != null) {
            getHttpCallback().onAfterResponse(context);
        }

        //handle errors defined at the API level
        validateResponse(response, context);

        return null;
    }

}